@{
    ViewBag.Title = "Home Page";
}

<section id="main-content" style="margin-left: 0px;">
    <section class="wrapper">
        <!--overview start-->

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <div><span id="todayspark3" class="spark"></span></div>
                    <div class="datas-text">30.55% Bounce Rate</div>
                </div><!--/.info-box-->
            </div><!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <div><span id="todayspark4" class="spark"></span></div>
                    <div class="datas-text">$16,00 Revenue/Day</div>
                </div><!--/.info-box-->
            </div><!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <div><span id="todayspark5" class="spark"></span></div>
                    <div class="datas-text">$16,00 Revenue/Day</div>
                </div><!--/.info-box-->
            </div><!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <div><span id="todayspark6 class="spark"></span></div>
                    <div class="datas-text">$16,00 Revenue/Day</div>
                </div><!--/.info-box-->
            </div><!--/.col-->

        </div><!--/.row-->
        <!-- Today status end -->
    </section>
    <table class="table table-striped">
        <thead>
            <tr class="row-name">
                <th style="width:5%;text-align: center;">Notify</th>
                <th style="width:10%">Name</th>
                <th>Market Cap</th>
                <th>Price</th>
                <th>Volume (24h)</th>
                <th>Circulating Supply</th>
                <th>Change (24h)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row-content">
                <td class="check">
                    <label><input type="checkbox" value="" /></label>
                </td>
                <td> <span class="label label-default"> <i class="fas fa-sort-up"></i> </span></td>
                <td>FA101</td>
                <td>Akshay</td>
                <td>Alumin foil</td>
                <td>Super... <i class="fa fa-thumbs-up" aria-hidden="true"></i></td>
                <td>3600/-</td>
            </tr>
            <tr class="row-content">
                <td class="check">
                    <label><input type="checkbox" value="" /></label>
                </td>
                <td> <span class="label label-info"> Old </span></td>
                <td>FA102</td>
                <td>Yusuf</td>
                <td> Carbon Paper</td>
                <td>Wow wonderful</td>
                <td>1000/-</td>
            </tr>
            <tr class="row-content">
                <td class="check">
                    <label><input type="checkbox" value="" /></label>
                </td>
                <td> <span class="label label-info"> Old </span></td>
                <td>FA103</td>
                <td>Ajay</td>
                <td>Rubber</td>
                <td>I like It</td>
                <td>5000/-</td>
            </tr>
            <tr class="row-content">
                <td class="check">
                    <label><input type="checkbox" value="" /></label>
                </td>
                <td> <span class="label label-default"> New </span></td>
                <td>FA104</td>
                <td>Kajol</td>
                <td>Pencil</td>
                <td>I love this...<i class="fa fa-heart" aria-hidden="true"></i></td>
                <td>600/-</td>
            </tr>
            <tr class="row-content">
                <td class="check">
                    <label><input type="checkbox" value="" /></label>
                </td>
                <td> <span class="label label-info"> Old </span></td>
                <td>FA105</td>
                <td>Amitabh</td>
                <td> Scale</td>
                <td>Wonderful Idea</td>
                <td>10,000/-</td>
            </tr>
            <tr class="row-content">
                <td class="check">
                    <label><input type="checkbox" value="" /></label>
                </td>
                <td> <span class="label label-default"> New </span></td>
                <td>FA106</td>
                <td>Twinkle</td>
                <td>Pen</td>
                <td>Very Happy.. <i class="fa fa-smile-o" aria-hidden="true"></i></td>
                <td>780/-</td>
            </tr>
        </tbody>
    </table>
</section>